.name_page h1{
    text-align: center;
    /* background-color: red; */
    font-size: 1.5rem;
    color: black;
    padding: 1rem;
}
.fav_board{
    padding: .5rem;
    width: 100%;
    height: 30rem;
    display: flex;
    gap:.5rem;
    flex-direction: column;
    overflow-y: scroll;
    /* background-color: red; */
}
.fav_board::-webkit-scrollbar {
    display: none;
}
.fav_cart{
    width: 100%;
    height: 11rem;
    padding: .5rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: .1rem solid;
    background-color: rgb(213, 211, 211);
    border-radius: .5rem;
}
.fav_image{
    width: 15rem;
    height: 10rem;
    margin-right: 1rem;

}
.fav_image img{
    border-radius: 1.5rem 0 1.5rem 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fav_detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.fav_detail h1{
    font-size: 2rem;
    margin: 0;
    color: rgb(126, 126, 126);
}
.fav_detail p{
    font-size: 1rem;
    margin: 0;
}


.fav_detail span{
    color: red;
    font-size: 2rem;
    width: 20rem;
}
.button{
    display: flex;
    gap: .5rem;
    flex-direction: column;
}
/* Media query for mobile devices */
@media (max-width: 768px) {
    .fav_board {
        height: auto;
        padding: .5rem;
    }

    .fav_cart {
        height: 6rem;
        padding: .2rem;
    }

    .fav_detail {
        width: 16rem;
        margin: 0;
        align-items: center;
        margin-left: .5rem;
    }

    .fav_detail span {
        font-size: 1rem;
        margin: 0;
        font-weight: bold;
    }
    .fav_detail p{
        font-size: .6rem;
    }
    .fav_image{
        margin: 0;
        width: 100%;
        height: 100%;
        padding: .2rem;
        background-color: rgb(234, 205, 174);
        border-radius: 1rem 0 1rem 0;
    }
    .fav_image img{
        border-radius: 1rem 0 1rem 0;
    }
    .button{
        margin: 0;
    }
    .button button{
        font-size: .7rem;
    }

}